<!-- Carousel
================================================== -->
<%= render 'layouts/carousel' %>


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2016 Project Vagabond &middot;
      <a href="https://github.com/kimberlywondo">Kimberly Wondoloski</a> &middot;
      <a href="https://github.com/ramata">Ramata Diallo</a> &middot;
      <a href="https://github.com/nplagman">Nick Plagman</a> &middot;
      <a href="https://github.com/johndupper">John Dupper</a> &middot;
    </p>
  </footer>

</div><!-- /.container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
