<!--
<div class="page-header text-center">
  <h1>City Sherpa
  </h1>
-->
<!--	<h2>your guide to the world around you</h2>-->
</div>

<!-- carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- carousel slide wrapper -->
  <div class="carousel-inner" role="listbox">
    <!-- san francisco -->
    <div class="item active">
      <img class="first-slide" src="https://drscdn.500px.org/photo/122203699/q%3D80_m%3D2000/2fda87d13acef95089537ee3400b4433" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
<!--          <h1>San Francisco, CA</h1>-->
			<br>
<!--          <p><a class="btn btn-lg btn-primary" href="/cities" role="button">Stop Dreaming. Start Exploring.</a></p>-->
        </div>
      </div>
    </div>
    <!-- atlanta -->
    <div class="item">
      <img class="second-slide" src="https://cdn0.vox-cdn.com/thumbor/j8oyICOljrcD9O_vYzGZTMR8m0I=/0x80:1538x945/1600x900/cdn0.vox-cdn.com/uploads/chorus_image/image/48931625/atlanta-skyline-at-dusk.0.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
<!--          <h1>Atlanta, GA</h1>-->
			<br>
<!--          <p><a class="btn btn-lg btn-primary" href="/cities" role="button">Stop Dreaming. Start Exploring.</a></p>-->
        </div>
      </div>
    </div>

    <!-- paris -->
    <div class="item">
      <img class="third-slide" src="http://handluggageonly.co.uk/wp-content/uploads/2016/01/Paris-3.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
<!--          <h1>Paris, France</h1>-->
			<br>
			<br>
<!--          <p><a class="btn btn-lg btn-primary" href="/cities" role="button">Stop Dreaming. Start Exploring.</a></p>-->
        </div>
      </div>
    </div>
  </div>
  <!-- side toggle buttons -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="main-text hidden-xs">
    <div class="col-md-12 text-center">
		<h1>City Sherpa</h1>
<!--        <h2>your guide to the world around you</h2>-->
	</div>
	<div>
<p><a class="btn btn-lg" href="/cities" role="button">Stop Dreaming. Start Exploring.</a></p>
</div>
</div>




<!-- footer -->
<footer>
  <p class="pull-right">
  <p>&copy; 2016 Project Vagabond &middot;
    <a href="https://github.com/kimberlywondo">Kimberly Wondoloski</a> &middot;
    <a href="https://github.com/ramata">Ramata Diallo</a> &middot;
    <a href="https://github.com/nplagman">Nick Plagman</a> &middot;
    <a href="https://github.com/johndupper">John Dupper</a></p>
</footer>
</div>