<h2><%= link_to 'New Cities (+)', new_city_path %></h2>

<ul>
  <% @cities.each do |city| %>
    <li>
      <a href="/cities/<%= city.id %>">
        <%= city.city_name %>
      </a>
    </li>
  <% end %>
</ul>