<h1>Where to?</h1>
<ul>
  <% @cities.each do |city| %>
      <li>
        <h1><a href="/cities/<%= city.id %>">
          <%= city.city_name %> (<%= city.id %>)</a>
        </h1>
    </li>
  <% end %>
</ul>
