// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	background-color: #0D1210;
	text-align: center;
}

body {
	background-color: #0D1210;
	text: white;
}

ul {
	list-style: none;
	margin-top: 50px;
	padding-left: 0px;
}