// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}

body {
	background-color: #0D1210;
}
h1 {
	color: #3FCFC5;
	font-family: 'Permanent Marker', cursive;
	color: #3FCFC5;
	font-size: 48px;
}

h4 {
	color: #3FCFC5;
	font-family: 'PT Sans', sans-serif;
}

.city-container {
	width: 99%;
	margin-bottom: 20px;
}

.city-container li {
	width: 31%;
	float: left;
	margin: 8px;
	text-align: left;
	color: #262626;
}

.city-container li p {
	margin-left: 8px;
	margin-top: 8px;
	color: #B1B2B1;
}
.city-container li a {
	color: #3FCFC5;
	font-family: 'Sansita', sans-serif;
	font-size: 40px;
}
.city-container h1 {
	margin-top: 10px;
	text-align: left;
	margin-left: 10px;
	
}
.city-container img {
	margin-top: 5px;
	max-width: 95%;
	margin-left: 8px;
}

ul {
	list-style: none;
	margin-top: 50px;
	padding-left: 0px;
}

.new-post-container {
	font-family: 'PT Sans', sans-serif;
	color: #3FCFC5;
}
